:root{
  --text: #f4f2f0;
  --background: #1e1e1e;
  --primary: #7f8760;
  --secondary: #656d4a;
  --accent: #414833;
  --secondaryaccent: #57604e;
}

.FrameImage:hover{
  transform: scale(1.1);
}

.FrameHead {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px;
  min-height: 400px;
  min-width: 400px;
  background-color: #414833;
}

.FrameImage {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  transition:all .5s ease-in-out;
  width: 100%; /* Adjust the size as per your requirements */
  height: 100%; /* Adjust the size as per your requirements */
  transition: all .5s ease-in-out;
}

.container {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.FrameText1 {
  font-size: 30px;
  text-shadow: 2px 2px black;
}

